<div class="wrapper">
  <div class="not-left"> 

  <% user = User.find(session[:user_id]) if session[:user_id] %>

  <%= CssHelper.authentication(user) %>

  <%= erb @display.to_sym %>
  
  </div>

  <% links = [{display: "Sign Up", link: "/sign_up"},
              {display: "2", link: "/"},
              {display: "3", link: "/"}] %>

  <%= CssHelper.nav_bar("URL.shorten", links) %>
</div>










